[init]
	defaultBranch = main
[user]
	email = tonyramirez.business@outlook.com
	name = Tony Ramírez
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim --noplugin -d \"$LOCAL\" \"$REMOTE\""
[alias]
[safe]
	directory = /opt/flutter
[color]
	ui = auto
[pull]
	rebase = false
